<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE" />
                <add name="Access-Control-Allow-Headers" value="Authorization" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
